@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Jacques+Francois+Shadow&display=swap");

.L-Span {
  font-family: "Jacques Francois Shadow", serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  animation: slideInFromTop 1s ease-out forwards;
  transition: all 0.1s;
}

body {
  overflow-y: scroll;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply styles to the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #2d2d38; /* Track background color */
  border-radius: 10px; /* Round track edges */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #f07e2e, #f56d32); /* Gradient thumb */
  border-radius: 10px; /* Rounded thumb edges */
  border: 2px solid #1b1a2c; /* Adds spacing around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #f56d32, #f07e2e); /* Hover effect */
}

::-webkit-scrollbar-corner {
  background: transparent; /* Corner of scrollbars for overflow containers */
}

/* Smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}
